<html>
    <head>
        <meta charset="utf-8">
        <title>게시글 작성</title>
    </head>
    <body>
        <A href="./">메인화면으로 이동</A>
        <h2>게시글 작성</h2>
        <form action='/writeAf' method='post'>
            책번호 : <input type='text' name='Book_number'><br>
            책제목 : <input type='text' name='Book_name'><br>
            재고 : <input type='text' name='Book_stock'><br>
            가격 : <input type='text' name='Book_price'><br>
            <button type='submit'>업로드</button>
        </form>
    </body>
</html>